body{
    box-sizing: border-box;
    margin: 0 auto;
    color: #ffffff;
    font-family: "Roboto", Arial, sans-serif;
}
.body{
    max-width: 1200px;
}



header{

    background: #1f484c;


}

    /*ROOF*/
    .roof{
        padding: 12px 0;
        font-family: "Roboto", Arial, sans-serif;
        position: relative;
        z-index: 100;
    }

        .cabinet {
            font-size: 14px;
            line-height: 1.5;
            text-align: left;
        }


        .call-number span {
            font-size: 21px;
            font-weight: bold;
            line-height: 1;
            text-align: left;

        }

        .socials-wrapper>div.pull-right{
            display: inline-flex;
        }

        .socials {
            display: inline-block;
            height: 24px;
            width: 24px;
            background: url("img/socials.png") no-repeat 0 0;


        }

        .scls-vk{
            background-position: 0 0;
        }

        .scls-youtube{
            background-position: -81px 0;
        }

        .scls-facebook{
            background-position: -28px 0;
        }

        .scls-instagram{
            background-position: -52px 0;
        }
    /*/ROOF*/

    /*HEAD-MENU*/
    .head-menu{
        background: #2b4e51;
        padding: 12px 0 3rem 0;

    }

    .head-menu>div:last-child{
        padding-left: 0;
    }

        .logo-wrapper{
            /*min-height: 75px;*/
            max-width: 180px;
            padding-right: 0;
        }

        .logo{


        }
        .logo-description-wrapper{


        }

        .logo-description{
            font-size: 2rem;
            font-weight: bold;
            line-height: 1;
            text-align: left;
        }

        .search-wrapper{
            padding-left:  0;
            padding-right: 0;
        }

        input[type="search"].form-control {
            background: none;
            border: none;
            color: #aaa;
            padding: 1.5rem 1ch 0 3ch;
            font-size: 1.5rem;
            font-style: italic;

        }

        input[type="search"]:focus{
            outline: none;
            box-shadow: none;

        }

        .input-group.search{
            border: none #ffffff;
            border-bottom: 1px solid;
        }

        .search button>.glyphicon-search{

            font-size: 3rem;

        }

        .search .btn-unstyled{
            padding: 0;

        }


        .basket-wrapper{
            text-align: right;
        }

        .basket-wrapper .glyphicon.glyphicon-shopping-cart{
            font-size: 42px;
            color: #a3c318;
        }

        .basket-wrapper>div{
            display: inline-block;
        }

        .basket-wrapper>div:first-child{
          padding-right: 15px;
        }

        .basket-wrapper>div:last-child{
            text-align: left;
        }


        .basket-title{
            font-size: 21px;
            font-weight: bold;
            line-height: 1;
            text-align: left;
        }

        .basket-items{
            font-size: 14px;
            line-height: 1.5;
            text-align: left;
            white-space: nowrap;
        }

    .navbar-buro{
        background: #a3c318;
       /* min-height: 0;*/
        border: none;
        border-radius: 0;
        margin: 0;

    }

    .navbar-buro li{
        width: 33.333%;
        float: none;
    }

    @media (max-width: 767px)  {
        .navbar-buro li{
            width: 100%;
        }
    }

    .navbar-nav.nav.nav-justified>li>a{
        font: inherit;
        color: inherit;
        font-size: 21px;
        line-height: 1;
    }
    /*.navbar-buro li::before{*/
        /*content: "|";*/
        /*float: left;*/
        /*padding-top: 10px;*/
        /*font-size: 2rem;*/
    /*}*/

.navbar-buro .separator{
    font-size: 2.5rem;
    text-align: center;
    width: 0;
}


/*/HEAD-MENU*/


/* MAIN-SLIDER*/
    .slider{
        height: 384px;

    }

    .slider-wrapper{

        background: url("img/banner-background.png") rgb(207, 207, 207);
        padding: 0 30px 0 0;
    }

    .slider-tab {
        background: url("img/dveri.png") no-repeat 100% 23px;
        background-size: 680px;
        /*margin-right: 30px;*/

    }
    
    .slider-description{
        background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        background-image: linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
        opacity: 0.8;
        height: 221px;
        width: 60%;
        padding: 15px 60px ;
        white-space: nowrap;



    }

    .slider-model-group {
        font-size: 32px;
        line-height: 1.2;
        text-align: left;

    }

    .slider-title {
        font-size: 48px;
        line-height: 0.438;
        text-align: left;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);

    }


    .slider-description>.model{
        font-size: 32px;
        line-height: 1.2;
        text-align: left;
    }


    .slider.shadow-bottom {
        box-shadow: inset 0 -15px 20px -8px rgba(0,0,0,0.6);
        margin-right: -30px;
    }




/* /MAIN-SLIDER*/


/*  CATALOG*/

.catalog{
    overflow: hidden;

}


.catalog-item{
   /* min-width: 300px;*/

}

.catalog-item img{

    width: 100%;
    height: 300px;
}
.catalog-description-wrapper{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*display: flex;
    align-items: flex-end;*/
}

.catalog-description{
    background: rgba(0,0,0,0.6);
    height: 100%;
    position: relative;
    top: 236px;
    width: 100%;
    flex-flow: column;
    overflow: hidden;
    align-items: center;
}

.catalog-description:hover{

    top: 0;
    justify-content: center;
    padding-bottom: 64px;

}

.catalog-description>h4{
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
    margin: 20px 0;
}

.catalog-description>.btn{
    background: none;
    border-radius: 0;
    border: 2px solid #ffffff;
    font-size: 16px;
    font-family: "Ubuntu", Helvetica, Arial, serif;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.313;
    text-align: left;
}



.catalog-focused{

}
/*  /CATALOG*/


/*  NEWS/ABOUT*/
.news-wrapper{

    background-color: rgb(43, 78, 81);
    /*box-shadow: inset -15px 1px 15px 0px rgba(0, 0, 0, 0.35);*/

}

.news-image-wrapper {
    border-radius: 50%;
    background-color: rgb(163, 195, 24);
    width: 163px;
    height: 163px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.news-image-wrapper img{
    height: 153px;
    background-color: rgb(163, 195, 24);

}

.news-wrapper h2{
    font-size: 21px;
    color: rgb(163, 195, 24);
    text-decoration: underline;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 35px;
}


.news-wrapper p{
    font-size: 16px;
    line-height: 1.313;
    text-align: left;
}

.news-wrapper>div>div:nth-child(2){
    margin: 0;
}


.news-shadow-top {
    background-image: -moz-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient( 180deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.6;
    height: 41px;

}


.news-shadow-bot {
    background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
    opacity: 0.6;
    height: 41px;

}

/*  /NEWS/ABOUT*/

/*  PARTNERS*/

.partners-wrapper{
    background-color: rgb(163, 195, 24);
    overflow: hidden;
    display: flex;
    position: relative;

}

.partners-wrapper>i.glyphicon{

    position: absolute;
    top: 42%;
    font-size: 28px;
    margin: auto 0;
    z-index: 10;

}

.partners-wrapper>i.glyphicon-chevron-left{
    left: 0;

}

.partners-wrapper>i.glyphicon-chevron-right{
    right: 0;

}



.partners-wrapper img{
    border-radius: 5px;
}

.partners-wrapper .partners-slider {

    margin: 60px 15px;
    flex-wrap: nowrap;
    /* display: flex;
     justify-content: space-between;*/

}

.partners-slider>div{
    margin: 0 10px;
}


/*  /PARTNERS*/


/*  FOOTER*/
footer{
    background-color: rgb(23, 23, 23);
    font-size: 14px;
    font-family: "Ubuntu", Helvetica, Arial, serif;
    color: rgb(171, 171, 171);
    line-height: 1.5;
    padding: 30px 0;

}


footer li>h4 {
    font-size: 16px;
    color: rgb(163, 195, 24);
    text-transform: uppercase;
    line-height: 1.2;


}

footer li{
   margin: 15px 0;
}

footer li>a{

    text-decoration: underline;
    color: rgb(171, 171, 171);
}

footer li i{
    padding-right: 10px;
    color: #a3c318;
}

.bottom-socials{
    display: inline-flex;
    flex-wrap: wrap;
}

.socials-footer{
   background-image: url("img/socials_footer.png");
   width: 28px;
   /*flex-wrap: nowrap;*/
}

.socials-footer.scls-vk{
    width: 32px;

}

.socials-footer.scls-facebook{
    background-position: -33px 0;
}

.socials-footer.scls-instagram{
    background-position: -60px 0;
}

.socials-footer.scls-youtube{
    background-position: -90px 0;
}

.copyright-wrapper{

    text-align: center;

}


/*  /FOOTER*/

/*supports*/



.shadow{

    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.35);
}

a{
    outline: none !important;
    color: inherit;
}

.btn-unstyled, .btn-unstyled:hover, .btn-unstyled:focus{
    background: none !important;
    border: none !important;
    color: inherit !important;
    outline: none !important;
    padding: 0;
    /*font: inherit !important;*/
}

.flex-container, .flex-between, .flex-container-center, .flex-center-vertical, .flex-justify{
    display: flex;
    flex-wrap: wrap;

}

.flex-center-vertical, .flex-container-center{
    align-items: center;
}

.flex-justify, .flex-container-center{

    justify-content: center;

}

.flex-between{

    justify-content: space-between;
}

.navbar{


}
